.containerProdutos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.produtos {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0px 0px 20px 0px;
    margin: 20px 25px 0px 25px;
    width: 285px;
    height: 345px;
    position: relative;
}

.produtos:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.2);

}

.produtos img {
    width: 100%;
    height: 82%;
    margin-bottom: 5px;
    cursor: pointer;
}

.addSacola img {
    width: 20px;
    height: 20px;
}

.addSacola {
    display: flex;
}

.addSacola img:hover {
    width: 25px;
    height: 25px;
}

.info {
    color: black;
    font-size: 16px;
    margin-bottom: 8px;
    text-decoration: none;
    font-family: Montserrat;
    cursor: pointer;
}

.info:hover {
    color: black;
}

.sizes {
    display: flex;
    list-style: none;
}

.sizeIcon {
    border-radius: 50%;
    background-color: #ffe0df;
    width: 32px;
    height: 20px;
    justify-content: center;
    font-size: small;
    margin-left: 5px;
    cursor: default
}

.sizeIcon:hover {
    background-color: white;
}

.clickToMaximize {
    cursor: pointer;
}

.product-max-container {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.5);
}

.container-max {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 50px;
    width: 900px;
    height: 700px;
    background-color: #fdf4f4;
    border-radius: 10px;
}

.image {
    display: flex;
    justify-content: center;
    height: 100%;
}

.arrow {
    cursor: pointer;
    width: 50px;
    display: flex;
}

.prodImage {
    width: 80%;
    height: 89%;
}

.close {
    display: flex;
    justify-content: right;
    padding: 10px;
    cursor: pointer;
}

.closeImg {
    background-color: rgba(128, 128, 128, 0.534);
    border-radius: 20px;
}

.paging {
    display: flex;
    justify-content: center;
}

.last-page,
.default-page {
    border-radius: 5px;
    margin: 0px 10px 15px 10px;
    padding-left: 1px;
    width: 20px;
    background-color: rgb(211, 211, 211);
    cursor: pointer
}
.next,
.back {
    cursor: pointer;
}
.display-container {
    position: absolute;
    background-color: rgba(175, 175, 175, 0.87);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-container-onlyImg{
    position: absolute;
    background-color: rgba(175, 175, 175, 0.87);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgs-big {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.img-and-close{
    height: 100%;
}
.imgs-big img {
    width: 100%;
    height: 90%;
}
.arrow,
.left-arrow {
    margin-top:60px;
    width: 30px;
    height: 60px;
   /* margin-right: 20px;*/
}
.arrow img,
.left-arrow img {
    cursor: pointer;
    width: 100%;
    background-color: rgb(83, 83, 83);
}
.close-display{
    display: flex;
    margin: auto;
    margin-right: 0px;
    width: 50px;
}
.close-display img{
    cursor: pointer;
    width: 50px;
}
.arrow.none,
.left-arrow.none{
    visibility: hidden;
}
.size{
    margin-left: -200px;
    margin-top: -10px;
    font-size: 15px;
}
.tam{
    font-size: 13.5px
}
.size-cont{
    background-color: rgb(211, 211, 211);
    padding-top: 3px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 3px;
    margin-left: 5px;
    border-radius: 2px;
}
.all-about{
    width: 75%;
    height: 90%;
    background-color: white;
}   
.container-infos{
    /*background-color: #fdf4f4; arrumar background color para padrão*/
    width: 95%;
    height: 95%;
    display: flex;
}
.images {
    display: flex;
    justify-content:left; 
    height: 90%;  
}
.prod-img{
    cursor: pointer;
    height:100%;
}
.arrow-img.none,
.left-arrow-img.none{
    visibility: hidden;
}
.arrow-img img,
.left-arrow-img img{
    height: 40px;
    cursor: pointer;
    margin-top: 330px;
    margin-left:0px;
}
.arrow-img img:hover,
.left-arrow-img img:hover{
    background-color: rgba(73, 73, 73, 0.329);
}
.informations{
    text-align: left;
    width: 100%;
    margin: auto;
    margin-left: 40px;
    padding: 20px;
    font-size: 18px;
    border-color: #fcbab4;
    border-style: solid;
    border-radius: 50px;
}
.product-title{
    font-size: 22px;
}
.stuff{
    margin-top: 30px;
}
.cgc{
    position: absolute;
    font-style: italic;
    font-weight: bold;
    left: 10px;
    top: 10px;
    background-color: white;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 100px;
    padding: 4px;
    border: gold;
    border-style: solid;
    border-width: 1px ;
}
@media(max-width:600px) {
    .cgc{
        font-size: 9px;
        left: 5px;
        top: 5px;
    }
    .stuff-description{
        margin-left: 10px;
        text-align: left;
    }
    .all-about{
        width: 95%;
        height:auto;
        background-color: white;
    }   
    .container-infos{
        width: 100%;
        height: 50%;
        display: flex;
    }
    .images{
        justify-content: center;
    }
    .arrow-img img,
    .left-arrow-img img{
    height:20px;
    margin-top: 125px;
    }
    .left-arrow-img{
        margin-right: 10px;
    }
    .arrow-img{
        margin-left: 10px;
    }
    .close-display img{
        width: 30px;
    }
    .close-display{
        width: 30px;
    }
    .prod-img{
        cursor: pointer;
        height:50%;
        width:70%;
    }
    .informations{
        text-align: center;
        width: 100%;
        margin: auto;
        margin-left: 00px;
        font-size: 11px;
        border-style: none;
    }
    .product-title{
        font-size: 12px;
    }
    .stuff{
        margin-top: -15px;
    }
    .stuff-size{
        margin-top: -20px;
        margin-left: -120px;
    }
    .containerProdutos {
        margin-bottom: 70px;
    }
    .produtos {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.2);
        padding: 0px 0px 20px 0px;
        margin: 20px 0px 0px 10px;
        width: 150px;
        height: 210px;
    }   
    .info {
        font-size: 11px;
    }
    .arrow,
    .left-arrow {
    margin-top:-60px;
    width: 40px;
    height: 45px;
    }
    .size{
        margin-left: -100px;
        margin-top: -15px;
        font-size: 10px;
    }
    .tam{
        font-size: 8px
    }
    .size-cont{
        background-color: rgb(211, 211, 211);
        font-size: 9px;
        padding-top: 1.5px;
        padding-right: 3px;
        padding-left: 1.5px;
        padding-bottom: 1.5px;
        margin-left: 2.5px;
        border-radius: 2px;
    }
    .imgs-big{
        width: 90%;
        height: 50%;
    }
}