.menuMobile{
    display: block;
}
.close{
    display:block;
    position: fixed;
    width: 50px;
    top:10px;
    left: 10px;
    cursor:pointer;
    visibility: visible;
}
.open{
    cursor: pointer;
    position: absolute;
    top: 150px;
    left: 40px;
    display:flex;
    justify-content: center;
}
.open p {
    font-size: 18px;
    margin-right: 10px;
}
.open img{
    width: 25px;
    margin-bottom: 15px;
}
.close{
    width: 60px;
    top:2.5px;
    left: calc(22%);
}

.menu-opened{
    overflow-y:auto;
    display:block;
    position:fixed;
    width:25%;
    top:0px;
    left:0px;
    background-color: #ffffff;
    height: 100vh;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    z-index:1;
}
.category{
    margin: 50px 0px 10px 0px;
    border-radius: 0px;
}
.categorys-mobile{
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    border-bottom:2px solid #ffddda;
    margin-bottom: 15px;
}
@media(max-width:600px){
    .menuMobile{
        display: block;
    }
    .menu-opened{
        display:block;
        position:fixed;
        width:75%;
        top:0px;
        left:0px;
        background-color: #ffffff;
        height: 100vh;
        z-index:5;
    }
    .close{
        left: calc(60%);
    }
    .open{
        z-index: 5;
        position: fixed;
        top: 35px;
        left: 5px;
    }
    .open p {
        font-size: 14px;
        margin-right: 5px;
    }
    .open img{
        width: 20px;
        margin-bottom: 15px;
    }
    .categorys-mobile{
        font-size: 14px;
    }

}
