.catigurias{
    display: block;
}
.title{
    display: flex;
    justify-content: center;
    height: 20px;
    margin-left: 10px;
}
.left-arrow-categories{
    cursor: pointer;
    margin: auto;
    margin-right: 0px;
    width: 20px;
    height: 20px;
}
.categorrí{
    position: sticky;
    top: 0;
}
.eachOf{
    cursor: pointer;
    font-size: 17px;
    border-bottom:2px solid #ffe0df;
    margin-left: 10px;
    margin-bottom: 15px;
    text-align: left;
}
.eachOf:hover{
    text-decoration:underline;
}
.title{
    margin-top: 10px;
}
@media(max-width:600px){
    .catigurias{
        display: none;
    }
    
}