body{
    padding: 0px 0px 0px 0px;
    font-family: Montserrat;
    list-style: none;
}
header{
    background-color: #fae3e1; 
    display: flex;
    justify-content: center;
}
a,
a:hover{
    text-decoration: none;
    color: black;
}
.logo{
    width: 250px;
    height: 180px;
    margin-bottom: 15px;
}
.logo img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu li{
    list-style: none;
}
.menu a{
    margin-right: 30px;
    padding: 2px 8px;
}
main{
    text-align: center;
}
.imagens img{
    cursor: pointer;
    width: 100%;
}
.containerProdutos{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.containerMaisProdutos{
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    display: none;
}
.containerMaisProdutos.active{
    display:flex
}
.informações del{
    color: red;
}
.formasDeContato{
    margin-left: 50px;
}
.addSacola img{
    width:20px;
    height:20px;
}
.addSacola{
    display: flex;
    justify-content:right;
    margin-top: -40px;
}
.addSacola img:hover{
    width: 25px;
    height: 25px;
}
/*estilização para quando cliente for ver o carrinho de compras*/

.sacola.active p{
    display:none;
}
.writtenInfo{
    display: grid;
    width: 150px;
    grid-template-rows: 20px 20px 20px;
}
.logoImgMobile{
    display: none;
}
.main-page{
    display: flex;
    justify-content: center;
}
/*responsividade para celular*/

@media(max-width:600px){
    body{
        padding: 0px 0px;
    }
    a,
    a:after{
        font-size:15px;
    }
    .elementos{
        padding: 2px;
        border-radius: 5px;
        margin-right: 4px;
    }
    .elementos img{
        display: none;
    }
    .containerProdutos{
        margin-bottom: 70px;
    }
    .containerMaisProdutos.active{
        margin-bottom: 70px;
    }
    .formasDeContato{
        margin-left: 30px;
    }
    .logo{
        width: 100px;
        height: 70px;
        margin-bottom: 0px;
    }    
    header{
        position:sticky;
        z-index:3;
        top:0px;
        right: 0px;
        left: 0px;
    }
}
